/* wildcard overide selector overide browser defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general rules*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
}

/*header style*/
header {
    background-color: rgb(125, 160, 220);
}

/*main style*/
main {
    background-color: rgb(206, 164, 211);
    /*make main element take up any surpless space to push footer down*/
    flex: 1 0 auto;
}

/*footer style*/
footer {
    background-color: greenyellow;
}
