/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

/* wildcard overide selector overide browser defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general rules*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
    font-family: "lato", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/*header style*/
header {
    background-color: #d9a160;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*nav bar style with drop down selector */
nav {
    position: absolute;
    background-color: #d9a160;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/*nav toggle style*/
#nav-toggle:checked ~ nav {
    display: block;
}
.nav-toggle-label {
    font-size: 2rem;
}
#nav-toggle {
    display: none;
}

/*main style*/
main {
    /*make main element take up any surpless space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}
/*hero section style*/
#hero {
    height: 600px;
    background: url(../images/hero-image.webp) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(132, 184, 208, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
#cover-text > h2,
#cover-text > h3 {
    color: #ffffff;
}
/*footer style*/
#social-networks {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #d9a160;
    box-shadow: 0 -2px 2px #3a3a3a;
    /*make sure footer stays at bottom of page*/
    flex-shrink: 0;
}

#social-networks i {
    font-size: 160%;
    padding: 0 20px;
    color: #3a3a3a;
}

/*media queries for larger screens*/
@media screen and (min-width: 768px) {
    /*header style for larger screens*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 380%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 87px;
    }
    /*hero section style for larger screens*/

    #cover-text {
        width: 300px;
        right: 50px;
    }
}

/*media queries for laptops screens*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}
