/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

/* wildcard overide selector overide browser defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general rules*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
    font-family: "lato", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading {
    display: none;
}

/*section reasons styles*/

#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    font-size: 280%;
    text-align: center;
}

#benefits-physical > div,
#benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url(../images/reasons-image.webp) no-repeat top center/cover;
    width: 90vw;
    height: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}
#benefits-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header style*/
header {
    background-color: #d9a160;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*nav bar style with drop down selector */
nav {
    position: absolute;
    background-color: #d9a160;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/*nav toggle style*/
#nav-toggle:checked ~ nav {
    display: block;
}
.nav-toggle-label {
    font-size: 2rem;
}
#nav-toggle {
    display: none;
}

/*main style*/
main {
    /*make main element take up any surpless space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}
/*hero section style*/
#hero {
    height: 600px;
    background: url(../images/hero-image.webp) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(132, 184, 208, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
#cover-text > h2,
#cover-text > h3 {
    color: #ffffff;
}

/*meetup section style*/

#times {
    background: url(../images/dublin-city.webp);
    display: flex;
    flex-wrap: wrap;
}
/*gallery styles*/

#photos img {
    width: 100%;
    line height: 1em     
}

#photos {
    line-height: 0;
}

/*sign up page styles*/
#signup {
    background-image: url("../images/signup-image.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}
#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}
#signup>h2 {
    color: #fafafa;
  
     background-color: rgba(60, 60, 60, 0.6);
}
.text-input {
    background: transparent;
    color: #fafafa; 
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;   
    padding: 0 5px;
}
.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}
/*footer style*/
#social-networks {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #d9a160;
    box-shadow: 0 -2px 2px #3a3a3a;
    /*make sure footer stays at bottom of page*/
    flex-shrink: 0;
}

#social-networks i {
    font-size: 160%;
    padding: 0 20px;
    color: #3a3a3a;
}

/*media queries for tablet screens*/

@media screen and (min-width: 576px) {

#photos {
    column-count: 2;
    column-gap: 0;
}


@media screen and (min-width: 768px) {
    /*header style for larger screens*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 380%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 87px;
    }

    #signup {
    background-position: center;
    position: relative;
}
#signup-form {
    max-width: 400px;
    position: absolute;
    left: 10%;
    top: 150px;
}
.text-input:hover {
    border-color: #f16c6b;
}

.join-button:hover {
    background-color: #fafafa;
    color: #454b1b;
}
    /*hero section style for larger screens*/

    #cover-text {
        width: 300px;
        right: 50px;
    }
    /*reasons section*/
    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #benefits-physical > div,
    #benefits-mental > div {
        width: 75%;
    }

    #benefits-mental > div {
        text-align: end;
        align-self: flex-end;
    }

    #photos {
    column-count: 3;
    column-gap: 0;
}
}

/*media queries for laptops screens*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #photos {
    column-count: 4;
    column-gap: 0;
}
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid #fafafa;
}
#times h3 {
    color: #fafafa;
}
/*media queries for Large screens*/
@media screen and (min-width: 1200px) {
    #benefits {
        display: flex;
        flex-direction: row;
    }
    #benefits > div {
        flex: 1;
    }

    #benefits-image {
        order: 0;
    }

    #benefits-mental {
        order: 1;
    }
    #benefits-mental > div {
        align-self: flex-start;
    }
    #benefits-physical > div {
        align-self: flex-end;
    }
}
